/* ALL */
.edit-options {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  border: none;
  background-size: 200%;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 0.3s;
}

.edit-options:hover {
  cursor: pointer;
  transform: translateY(-15px);
}
.edit-options i {
  margin-top: 16px;
  font-size: 20px;
}
#pinner {
  background-color: rgb(154, 154, 154, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ADMIN */
.admin {
  display: none;
}
/*  */

/* USER */
.user {
  display: none;
}
.user #cart-arrow {
  font-size: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
}
.user#cart-arrow:hover {
  cursor: pointer;
}

.user #listCart {
  position: fixed;
  top: 60px;
  right: 50px;
  display: none;
  overflow-y: scroll;
  width: 800px;
  height: 500px;
}
.user #show {
  position: fixed;
  top: 65px;
  right: 70px;
  font-size: 30px;
  transition: 0.3s;
}
.user #show:hover {
  cursor: pointer;
  font-size: 40px;
  transform: translateY(5px) translateX(5px);
}

.user #close {
  position: fixed;
  top: 50px;
  right: 70px;
  font-size: 30px;
  transition: 0.3s;
}
.user #close:hover {
  cursor: pointer;
  font-size: 40px;
  transform: translateY(-15px) translateX(5px);
}
/*  */
